<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewMap</key>
	<array>
		<dict>
			<key>className</key>
			<string>WebViewController</string>
			<key>identifier</key>
			<string>webview</string>
			<key>webUrl</key>
			<string></string>
			<key>filePath</key>
			<string></string>
			<key>type</key>
			<string>0</string>
			<key>description</key>
			<string>webview controller</string>
		</dict>
		<dict>
			<key>className</key>
			<string>FirstViewController</string>
			<key>identifier</key>
			<string>first</string>
			<key>webUrl</key>
			<string>https://m.fengqu.com</string>
			<key>filePath</key>
			<string>main/first.html</string>
			<key>type</key>
			<string>0</string>
			<key>intab</key>
			<string>1</string>
			<key>description</key>
			<string>首页</string>
			<key>role</key>
			<string>0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>SecondViewController</string>
			<key>identifier</key>
			<string>second</string>
			<key>webUrl</key>
			<string>https://m.163.com</string>
			<key>filePath</key>
			<string>main/second.html</string>
			<key>type</key>
			<string>0</string>
			<key>intab</key>
			<string>2</string>
			<key>description</key>
			<string>购物车</string>
			<key>role</key>
			<string>1</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ThirdViewController</string>
			<key>identifier</key>
			<string>third</string>
			<key>webUrl</key>
			<string>https://m.163.com</string>
			<key>filePath</key>
			<string>main/third.html</string>
			<key>type</key>
			<string>0</string>
			<key>intab</key>
			<string>3</string>
			<key>description</key>
			<string>商城</string>
			<key>role</key>
			<string>0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>FourthViewController</string>
			<key>identifier</key>
			<string>fourth</string>
			<key>webUrl</key>
			<string>https://m.163.com</string>
			<key>filePath</key>
			<string>main/fourth.html</string>
			<key>type</key>
			<string>0</string>
			<key>intab</key>
			<string>4</string>
			<key>description</key>
			<string>个人中心</string>
			<key>role</key>
			<string>0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>LoginViewController</string>
			<key>identifier</key>
			<string>login</string>
			<key>webUrl</key>
			<string>https://m.fengqu.com/user/login.html</string>
			<key>filePath</key>
			<string>main/login.html</string>
			<key>type</key>
			<string>2</string>
			<key>description</key>
			<string>登录</string>
			<key>role</key>
			<string>0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>DetailViewController</string>
			<key>identifier</key>
			<string>detail</string>
			<key>webUrl</key>
			<string>https://m.163.com</string>
			<key>filePath</key>
			<string>detail/detail.html</string>
			<key>type</key>
			<string>1</string>
			<key>description</key>
			<string>详情</string>
			<key>role</key>
			<string>0</string>
		</dict>
	</array>
	<key>AppHostList</key>
	<array>
		<string>https://www.nbn.com</string>
		<string>https://m.nbn.com</string>
		<string>www.bnb.com</string>
		<string>m.bnb.com</string>
		<string>bnb.com</string>
	</array>
	<key>BlackHostList</key>
	<array/>
	<key>WhiteHostList</key>
	<array>
		<string>https://m.163.com</string>
		<string>https://m.fengqu.com</string>
	</array>
</dict>
</plist>
